/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
:root{
    --primary-Color:#4CAF50 ; 
    --secondary-Color:#2196f3 ;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.common-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
.form-input{
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid rgb(75, 240, 69);
    padding-left: 15px;
    color: #1ccc25;
    border-radius: 20px;
}
.form-button{
    height: 35px;
    border: 1px solid rgb(75, 240, 69);
    color: #1ccc25;
    cursor: pointer;
    border-radius: 5px;
}